* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 }

header {
  background-color: black;
}

.banner {
  background-image: url(apnikaksha/assets/logo/logo.gif);
  height: 18vw;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50%;
  background-attachment: fixed;
}

nav {
  display: flex;
  background-color: #333;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  padding: 25px;
  text-align: center;
  float: left;
  color: white;
}

nav a:hover{
    background-color: whitesmoke;
    color: black;
}
.flex-align-right {
  margin-left: auto;
}
main {
  background-color: white;
  text-align: center;
}

section {
  text-align: center;
  max-height: 100%;
  padding: 50px 0px;
}

section h2 {
  margin-bottom: 50px;
}
section h2 span {
  padding: 10px 55px;
  border-radius: 20px;
  color: #fff;
  background: rgb(70,92,97);
  background: linear-gradient(90deg, rgba(70,92,97,1) 0%, rgba(180,192,207,1) 32%, rgba(184,184,214,1) 62%, rgba(70,92,97,1) 100%);
}

video {
  padding: 10px;
}
.notes_pdf {
  margin-bottom: 10px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
img {
  padding: 10px;
}
section h5 {
  margin: 40px;
}
.carousel {
  max-height: 80vh;
}

.carousel-cell {
  width: 66%;
  margin-right: 50px;
  border-radius: 5px;
}
.carousel-cell video {
  max-width: 100%;
}
.carousel-cell iframe {
  width: 100%;
  height: 70%;
}
h3 {
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#profile_img {
  border-radius: 50%;
}
.handle a {
  font-size: 1.25em;
  background-color: rgb(150, 150, 150);
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
}
.handle a i {
  margin: 5px;
}
.ln_handle {
  color: #0077b5;
  font-weight: 700;
}

.handle a:hover {
  background-color: rgb(101, 136, 189);
}

/* CARDS CSS BEGINS*/

h1 {
  text-align: center;
}
.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0px auto 0px auto;
}

.card1,
.card2,
.card3 {
  background-color: white;
  width: 350px;
  height: 620px;
  box-shadow: 5px 5px 5px 3px #9c9c9c;
  margin: 20px;
  border-radius: 10px;
}
.inner-card {
  margin: 8px 6px 6px 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#HackerRank {
  border: black;
  border-width: 4px;
}
#img_dish {
  border-radius: 6px;
  height: 220px;
  margin-right: 6px;
}

.button {
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid rgb(38, 39, 39);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}
.card_bottom{
    height: 200px;
}
.button:hover {
  background-color: rgb(80, 82, 81);
  color: white;
}

/*CARDS STYLING HAS BEEN FINISHED*/

/* Responsiveness of nav bar*/
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
  .flex-align-right {
    margin-left: 0px;
  }
}
